@import '../constants/common';
@import '../constants/variables';

#Home{
    background-color: var(--BGColor);
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;

    #Action-Buttons{
        @include flex-column;
        align-items: flex-end;
        padding: 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;

        #Top-Right{
            @include flex-column;
            align-items: flex-end;
            flex-grow: 1;

            #Btn-Sign-Out{
                @include outlined-button($color: #E5222F);
            }
            #Edit{
                margin-Top: 12px;
                color: $GRAY_6;
            }
        }

        #Bottom-Right{
            @include flex-column;
            align-items: flex-end;

            #Whatsapp{
                margin-bottom: 8px;
            }
        }
    }
}