@import '../constants/common';
@import '../constants/variables';

#Page-Not-Found{
    @include flex-center;
    background-color: $PRIMARY;
    min-height: 100vh;
    text-align: center;
    color: white;
    
    #Btn-Back-Home{
        padding: 6px;
        margin: 40px 10px;
    }
   
}
