@import '../constants/common';
@import '../constants/variables';

// #F2B944
// #E5222F
// #E61B7B
// #3D277B
// #E67B47

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #ccc;
}

.card {
    max-width: 96vw;
    width: 600px;
    background-color: #fff;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    display: flex;
    justify-content: right;

    p,a,h4{
        text-decoration: none;
        color: white;
    }
    
    &__left{
        @include flex-center;
        width: 40%;
        padding: 10px;

        #img-profile{
            margin: 80px 0 0 0;
            max-height: 150px;
            max-width: 120px;
            object-fit: contain;
        }

        #businessname{
            margin: 10px;
        }

        #qr{
            margin-top: 100px;
        }

        #btn-contact{
            @include outlined-button();
            margin-bottom: 12px;
        }
    }

    &__right{
        width: 60%;
        border-radius: 0 15px 15px 0;
        padding: 10px 0;
        background: linear-gradient(
            90deg, 
            $SECONDARY 0,
            #E5222F , 
            #E61B7B, 
            $PRIMARY
        );

        &__item{
            display: flex;
            align-items: center;
            margin: 10px 0;
            overflow: hidden;
            word-break: break-all;
            padding: 5px 5px 5px 10px;

            .icon{
                width: 15px;
                height: 15px;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $SECONDARY;
                margin-right: 10px;
                font-size: 12px;
                color: white;
            }
        }

        .person {
            background-color: $SECONDARY;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            h4{
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        #about{
            text-align: justify;
            padding: 12px 12px;
            font-size: 14px;
        }

    }

}

@media screen and (max-width:600px) {

    .card{
        p,a,h4{
            text-decoration: none;
            color: white;
            font-size: 13px;
        }

        &__right{
            &__item{
                .icon{
                    width: 13px;
                    height: 13px;
                    padding: 10px;
                }
            }

            #about{
                text-align: justify;
                padding: 12px 12px;
                font-size: 13px;
            }
        }
    }
}
  
