@import '../constants/common';

#Add-Image-Container {
    @include flex-column;
    align-items: flex-end;
    
    #Btn-Add-Image {
        @include outlined-button;
        margin-bottom: 8px;
    }

    #Btn-Upload-Image {
        @include outlined-button($color: #8124be);
        margin-bottom: 8px;
    }

    #Input-Add-Image {
        display: none;
    }
}