:root{
  --BGColor: #F0F0F0;
  --Color1 : #3D277B;
  /* --Color1 : rgb(40, 13, 49); */
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.M0{
  margin:0;
}
.MT0{
  margin-top: 0;
}
.MB0{
  margin-bottom: 0;
}
